* {
    text-align: center;
    background-color: rgb(219, 216, 216);
    font-family: Times New Roman, sans-serif;
}

.main-picture {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

.container {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%
}

h1 {
    font-size: 40px;
    margin-top: 20px;
}

li {
    margin-bottom: 5px;
    margin-top: 7px;
}

h2, ul, ol, li, p, a, div {
    background-color: rgb(209, 241, 231);
}